.text-effect {
  font-size: 7.5rem;
  font-family: "Star Jedi", arial;
  background-image: url("./media/lightspeed.jpg");
  background-position: center;
  color: transparent;
  -webkit-background-clip: text;
  transition: all 2s ease-in-out;
  letter-spacing: 0.55rem;
}
.text-effect:hover {
  transform: scale(1.3);
  -webkit-text-stroke: 0.15rem rgba(146, 222, 241, 0.952);
}
