.clones {
  height: 40rem;
  position: relative;
  margin-top: 3rem;
}
.clones-picture {
  height: 40rem;
  clip-path: rectangle();
  transition: all 0.4s;
  filter: grayscale(75%);
  border-radius: 2rem;
}
.clones-text {
  font-size: 6rem;
  font-family: "Star Jedi", arial;
  opacity: 0;
  color: white;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: all 0.2s ease-in-out;
  text-transform: lowercase;
  letter-spacing: 0.35rem;
  //-webkit-text-stroke: 0.1rem black;
}
.clones:hover .clones-picture {
  filter: grayscale(0%);
}
.clones:hover .clones-text {
  -webkit-text-stroke: 0.1rem black;
  opacity: 1;
  top: 40%;
}
