@import "_1-Jedi.scss";
@import "_2-Lightsabers.scss";

html,
body {
  background-color: white;
  font-size: 62.5%;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  width: 80vw;
  margin: 2rem auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 1rem;
  font-size: 1.5rem;
  align-items: center;
  text-align: center;
}
